#center-page {
     width: 1000px;
     margin: 0 auto;
}
#title {
    float: left;
    width: 50%;
}
#logo {
    float: right;
    width: 50%;
}

.bar {
  fill: steelblue; /* #4682b4 */
}

.bar:hover {
  fill: brown;
}

.axis--x path {
  display: none;
}

.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
  color: red;
}

.arc path {
  stroke: #fff;
}

.chartContainer {
    width: 960px;
    overflow-x: auto;
    white-space: nowrap;
}



/* gauge */
.label{
	font-size:22.5px;
	fill:#ffffff;
	text-anchor:middle;
	alignment-baseline:middle;
}
.face{
	stroke:#c8c8c8;
	stroke-width:2;
}
.minorTicks{
	stroke-width:2;
	stroke:white;
}
.majorTicks{
	stroke:white;
	stroke-width:3;
}